version: "3.8"

services:
  rabbitmq:
    container_name: rabbitmq-dist
    image: rabbitmq:4-management
    hostname: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - 15672:15672
      - 5672:5672
    

  cache:
    container_name: redis-dist
    image: redis:7
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass redis
    volumes: 
      - cache:/data

  db:
    container_name: db-dist
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: rebuilds
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5433:5432
      
volumes:
  cache:
    driver: local
